# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
*.dll
GameData/FTLDrive/Plugins/FTLDrive.dll
*.pdb
*.suo
Source/bin/Debug/FTLDrive.dll
Source/bin/Debug/FTLDrive.dll
Source/bin/Debug/FTLDrive.pdb
Source/FTLDrive.v12.suo
Source/obj/Debug/FTLDrive.dll
Source/obj/Debug/FTLDrive.pdb
Source/bin/Debug/FTLDrive.dll
*.suo
Source/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/obj/Debug/FTLDrive.csproj.FileListAbsolute.txt
Source/obj/Debug/FTLDrive.csprojResolveAssemblyReference.cache
Source/bin/Debug/Assembly-CSharp.xml
Source/bin/Debug/UnityEngine.xml
Source/FTLDrive.v12.suo
*.suo
