<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Unity.Analyzers" version="1.17.0" targetFramework="net472" developmentDependency="true" />
  <package id="ReflectionAnalyzers" version="0.3.1" targetFramework="net472" developmentDependency="true" />
  <package id="SonarAnalyzer.CSharp" version="9.2.0.71021" targetFramework="net472" developmentDependency="true" />
</packages>